.nav {
    background-color: #EFBA35;
    position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
    height: 40px;
	width: 100%;
    z-index: 10;
    text-align: center;
}
.nav a {
    color: #242222;
    font-family: "Annie Use Your Telescope";
    font-size: 180%;
    font-weight: bold;
    padding-left: .7em;
    padding-right: .5em;
    text-transform: uppercase;
    text-decoration: none;
}

.nav li{
	display: inline;
}

.nav .navleft {
	position: relative;
	top: -10px;
	left: -30px;
}

.nav .navright {
	position: absolute;
	top: 0px;
	right: 2em;
}

.nav .navcenter {
	position: absolute;
	top: 10px;
}

.information {
    background-color: #242222;
    border-left: solid;
    border-right: solid;
    border-top: double;
    border-bottom: double;
    border-color: #EFBA35;
    position: relative;
    color: #EFBA35;
    padding: 14px;
    font-family: "Annie Use Your Telescope";
    width: 90%;
    text-align: center;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 60px;
}

.information  h1{
	font-size: 300%;
}

.information p{
	font-size: 150%;
}
    
body {
    background-color: #242222;
}
