.nav {
/* navigation bar */
    	background-color: #EFBA35;
    	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
	height: 40px;
    	width: 100%;
    	z-index: 10;
    	text-align: center;
}

.nav a {
/* links in the navigation bar */
    	font-family: "Annie Use Your Telescope";
    	font-size: 180%;
    	font-weight: bold;
    	padding-left: .7em;
    	padding-right: .5em;
    	text-transform: uppercase;
    	text-decoration: none;
}


/* BELOW: changes color of navigation bar links when user is hovering over them */
/**************************************************************/
.nav a:link {
	color: black;
}
.nav a:visited {
	color: black;
}
.nav a:hover {
	color: green;
}

.nav li{
	display: inline;
}
/***************************************************************/


.nav .navright {
/* navigation bar for Menu, Order, Cater, About, and Contact Us links */
	position: absolute;
	top: 0px;
	right: 2em;
}

.nav .navcenter {
/* navigation bar for Mac Truck (home) link */
	position: absolute;
	top: 13px;
}

#topborder {
	position: relative;
	z-index: 5;
	width: 700px;
	height: 70px;
	left: 70px;
}

.ordertable {
/* table that displays orders that have been submitted to mySQL database */
    	background-color: #EFBA35;
	position: relative;
	color: black;
	padding-top: 14px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-family: "Annie Use Your Telescope";
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 100px;
}

.admintools{
/* text and buttons displayed so admin can delete orders */
  	background-color: #EFBA35;
	position: relative;
	color: black;
	padding-top: 14px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-family: "Annie Use Your Telescope";
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 100px;
}

table {
  font-family: serif;
  border-collapse: collapse;
  background: white;
  width: 100%;
}
table, th, td {
  border: 2px solid black;
}
thead {
  background: green;
  font-weight: bolder;
  text-align: center;
}

body {
    background-color: #242222;
}
