.nav {
/* style for navigation bar */
    background-color: #EFBA35;
    position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
    height: 40px;
	width: 100%;
    z-index: 10;
    text-align: center;
}
.nav a {
/* style for navigation links */
    font-family: "Annie Use Your Telescope";
    font-size: 180%;
    font-weight: bold;
    padding-left: .7em;
    padding-right: .5em;
    text-transform: uppercase;
    text-decoration: none;
}

/* BELOW: style for changing color of link when user hovers over it */
.nav a:link {
	color: black;
}
.nav a:visited {
	color: black;
}
.nav a:hover {
	color: green;
}

.nav li{
/* displays links in a single row instead of a single column */
	display: inline;
}

/*
.nav .navleft {
	position: relative;
	top: -10px;
	left: -30px;
}*/

.nav .navright {
/* style for links to other pages -- WHY IS THIS DIFFERENT FROM .NAVCENTER??? FIX ---- */
	position: absolute;
	top: 0px;
	right: 2em;
}

.nav .navcenter {
/* style for home link, on left side of nav bar */
	position: absolute;
	top: 10px;
}

.information {
/* style for the text block */
    background-color: black;
    position: relative;
    color: #EFBA35;
    padding: 14px;
    font-family: "Annie Use Your Telescope";
    text-align: center;
    margin-right: 120px;
    margin-left: 100px;
    margin-top: 50px;
}

.information h2 {
	text-decoration: underline;
}

.moreinformation {
/* style for the second text block */
	background-color: #EFBA35;
	position: relative;
	color: black;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	text-align: center;
	margin-right: 70px;
	margin-left: 50px;
	border: ridge 8px white;
}

.moreinformation a {
/* links should always be a different color */
	color: green;
}

.moreinformation h2 {
/* ... and underlined :) */
	text-decoration: underline;
}

body {
    background-color: black;
}
