.nav {
    background-color: #EFBA35;
    position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
    height: 40px;
	width: 100%;
    z-index: 10;
    text-align: center;
}
.nav a {
    font-family: "Annie Use Your Telescope";
    font-size: 180%;
    font-weight: bold;
    padding-left: .7em;
    padding-right: .5em;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:link {
	color: black;
}

.nav a:visited {
	color: black;
}

.nav a:hover {
	color: green;
}
.nav li{
	display: inline;
}

.nav .navleft {
	position: relative;
	top: -10px;
	left: -30px;
}

.nav .navright {
	position: absolute;
	top: 0px;
	right: 2em;
}

.nav .navcenter {
	position: absolute;
	top: 10px;
}

.information {
    background-color: black;
    position: relative;
    color: #EFBA35;
    padding: 14px;
    font-family: "Annie Use Your Telescope";
    text-align: center;
    margin-right: 120px;
    margin-left: 100px;
    margin-top: 50px;
}

.information h2 {
	text-decoration: underline;
}

.moreinformation {
	background-color: #EFBA35;
	position: relative;
	color: black;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	text-align: center;
	margin-right: 70px;
	margin-left: 50px;
	border: ridge 8px white;
}

.moreinformation a {	
	color: green;
}

.moreinformation h2 {
	text-decoration: underline;
}
    
body {
    background-color: black;
}
