.nav {
    background-color: #EFBA35;
    position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
    height: 40px;
	width: 100%;
    z-index: 10;
}
.nav a {
    color: #242222;
    font-family: "Annie Use Your Telescope";
    font-size: 180%;
    font-weight: bold;
    padding-left: .7em;
    padding-right: .5em;
    text-transform: uppercase;
	text-decoration: none;
}

.nav li{
	display: inline;
}

.nav .navleft {
	position: relative;
	top: -10px;
	left: -30px;
}

.nav .navright {
	position: absolute;
	top: 0px;
	right: 2em;
}

.menu {
    border: 30px solid transparent;
    
    background-color: #EFBA35;
	position: relative;
	color: #242222;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	margin-right: 70px;
	margin-left: 50px;
	margin-top: 100px;
}

.menu h1{
	font-size: 275%;
}
.menu h2{
	font-size: 200%;
}
.menu p {
	font-size: 160%;
}
.menu ul {
	font-size: 140%;
}

.condiments {
	background-color: #EFBA35;
	position: relative;
	color: #242222;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	border: 5px solid #242222;
	position: absolute;
	top: 170px;
	right: 160px;
	left: 580px;
	text-align: center;
}

.condiments h2{
	font-size: 160%;
	text-decoration:underline;
}
.condiments li {
	font-size: 140%;
}
    
body {
    background-color: #242222;
}
