.nav {
    background-color: #EFBA35;
    position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
    height: 40px;
	width: 100%;
    z-index: 10;
}
.nav a {
    color: #242222;
    font-family: "Annie Use Your Telescope";
    font-size: 180%;
    font-weight: bold;
    padding-left: .7em;
    padding-right: .5em;
    text-transform: uppercase;
	text-decoration: none;
}

.nav li{
	display: inline;
}

.nav .navleft {
	position: relative;
	top: -10px;
	left: -30px;
}

.nav .navright {
	position: absolute;
	top: 0px;
	right: 2em;
}

.menu {
	border: solid;
	border-color black;
    	background-color: #EFBA35;
	position: relative;
	color: #242222;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	margin-right: 70px;
	margin-left: 50px;
	margin-top: 100px;
}

.menu h1{
	font-size: 275%;
}
.menu h2{
	font-size: 200%;
}
.menu p {
	font-size: 160%;
}
.menu ul {
	font-size: 140%;
}

.drinks {
	background-color: #EFBA35;
	position: relative;
	color: #242222;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	margin-right: 70px;
	margin-left: 40px;
	margin-top: 150px;
}
.drinks h2{
	font-size: 160%;
}
.drinks li{
	font-size: 140%;
}

.condiments {
	background-color: #EFBA35;
	color: #242222;
	padding: 14px;
	font-family: "Annie Use Your Telescope";
	border: 5px solid #242222;
	position: absolute;
	top: 150px;
	right: 100px;
	left: 400px;
	
}

.condiments h2{
	text-align: center;
	font-size: 160%;
	text-decoration: underline;
}
.condiments table {
	font-size: 140%;
	border-spacing: 2px;
}
    
body {
    background-color: #242222;
}
