.nav {
    	background-color: #EFBA35;
    	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
	height: 40px;
    	width: 100%;
    	z-index: 10;
    	text-align: center;
}

.nav a {
	color: #242222;
    	font-family: "Annie Use Your Telescope";
    	font-size: 180%;
    	font-weight: bold;
    	padding-left: .7em;
    	padding-right: .5em;
    	text-transform: uppercase;
    	text-decoration: none;
}


.nav li{
	display: inline;
}

.nav .navright {
	position: absolute;
	top: 0px;
	right: 2em;
}

.nav .navcenter {
	position: absolute;
	top: 13px;
}

.theform {
	background-color: #EFBA35;
	font-family: "Annie Use Your Telescope";
	font-size: 150%;
	color: #242222;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 50px;
	width: 90%;
}

select {
	font-family: "Annie Use Your Telescope";
	font-size: 100%;
	background-color: #242222;
	color: #EFBA35;
	border: 4px solid #B34B20;
}

.theform h1 {
	font-size: 170%;
}

#totallabel {
	font-size: 200%;
	font-weight: bold;
}

#secondOrder {
	display: none;
}

#extraorder {
	display: none;
	font-size: 150%;
}

#extraorder a{
	text-decoration: underline;
	color: #B34B20;
}

button {
	font-family: "Annie Use Your Telescope";
	font-weight: bold;
	font-size: 150%;
	background-color: #EFBA35;
	color: #242222;
	border: 4px solid #242222;
	margin-top: 50px;
}

input {
	font-family: "Annie Use Your Telescope";
	font-size: 200%;
	background-color: #B34B20;
	color: #EFBA35;
	border: 4px solid #242222;
	position: relative;
}

body {
  background-color: #242222;
}
